<div ng-controller="noticiaCtrl as noticiaCtrl">
	<div id="header">
		<nav class="navbar navbar-default" role="navigation">
			<div class="container-fluid">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#country-navbar">
						<span ng-hide="noticiaCtrl.editMode">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#"></a>
				</div>

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="country-navbar">
					<button class="btn btn-default navbar-btn" ng-hide="noticiaCtrl.editMode" ng-click="noticiaCtrl.createRecord()"><span class="glyphicon glyphicon-plus"></span> Create</button>
					<button class="btn btn-default navbar-btn" ng-hide="noticiaCtrl.editMode" ng-click="noticiaCtrl.fetchRecords()"><span class="glyphicon glyphicon-refresh"></span> Refresh</button>
                                        <div class="form-group input-group" ng-hide="noticiaCtrl.editMode">
                                            <input type="text" class="form-control">
                                            <span class="input-group-btn">
                                                <button class="btn btn-default" type="button"><i class="fa fa-search"></i>
                                                </button>
                                            </span>
                                        </div>
					<button class="btn btn-default navbar-btn" ng-show="noticiaCtrl.editMode" ng-click="noticiaCtrl.saveRecord()"><span class="glyphicon glyphicon-floppy-disk"></span> Save</button>
					<button class="btn btn-default navbar-btn" ng-show="noticiaCtrl.editMode" ng-click="noticiaCtrl.fetchRecords()"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
				</div>
			</div>
		</nav>
	</div>
    
        <div ng-hide="noticiaCtrl.editMode">
            <div ng-repeat="record in records">
                <div class="col-lg-4">
                    <div class="panel panel-green">  
                        <div class="panel-heading">
                            <p>Titulo: </p>
                            {{record.titulo}}
                        </div>       
                        <div class="panel-body">
                            <p>Entrada: </p>
                            <p>{{record.entrada}}</p>
                            <p>{{record.fechaInicial}}</p>
                            <p>{{record.fechaFinal}}</p>
                        </div>
                        
                        <button class="btn btn-default btn-sm" ng-click="noticiaCtrl.editRecord(record)"><span class="glyphicon glyphicon-edit"></span> Edit</button>
                        <button class="btn btn-default btn-sm" ng-click="noticiaCtrl.deleteRecord(record)"><span class="glyphicon glyphicon-minus"></span> Delete</button>
                    </div>       
                </div>
             </div>
	</div>
    
        <div ng-show="noticiaCtrl.editMode" id="evento-edit-mode">
		<form name="eventoForm" role="form">
                    <div class="input-group" align="left">
                        <span class="label label-default" >Titulo:</span> 
                         <p></p>
                        <input id="titulo" class="form-control" type="text" aria-describedby="basic-addon2" rows="3" ng-model="currentRecord.titulo" style="margin: 0px; width: 462px;"/>
                    </div>        
                    <p></p>
                    <div class="input-group" align="left">
                        <span class="label label-default" >Entrada:</span>
                        <p></p>
                        <textarea class="form-control ng-pristine ng-valid ng-touched" required ng-model="currentRecord.entrada" style="margin: 0px; width: 462px; height: 158px; resize: none;">
                        </textarea>
                        <p></p>
                        <span class="label label-default" >Fecha inicial:</span><p></p>
                        <input id="name" class="form-control datepicker" type="date" 
				ng-model="currentRecord.fechaInicial" 
				required/>
                        <p></p>
                        <span class="label label-default" >Fecha final:</span>
                        <p></p>
                        <input id="name" class="form-control datepicker" type="date" 
				ng-model="currentRecord.fechaFinal" 
				required/>
                    </div>
                </form>       
	</div>   
</div>