html, body {
    height: 100%;
    width: 100%; 
}
#jumbotron-fullscreen {
    background-color: inherit;
    font-size: 50px;
    color: rgb(246,246,246);
    font-weight: 100;
    width: 100%;
}
body {
    padding-top: 90px;
}
#contenedor-full-fondo {
    background-color: BLACK;
    width:100%;
    height:100%;
    max-width:100%;
    background-position:center;
    background-size:cover;
}
#btn-all-rabbit {
    position: absolute;
    padding: 0 150px;
    margin: 0;
    bottom: 60px;
    left: 0;
}
#btn-all-rabbit a {
    font-size: 30px;
    font-weight: 200;
    background-color: rgba(246,246,246,0);
    border: none;
    color: rgb(246,246,246);
    font-weight: 100;
    height: 80px;
}
#btn-all-rabbit a:hover {
    background-color: rgba(246,246,246,0.2);
}
#flecha-abajo-rabbit {
    font-size: 30px;
    color: WHITE;
    text-align: center;
    position: absolute;
    bottom: 10px;
    width: 100%;
    padding: 0;
    margin: 0;
}
#first-band {
    background-color: rgb(246,246,246);
}
#item-first-band .btn {
    background-color: rgb(87,207,191);
    border: none;
}
#item-first-band .btn:hover {
    color: rgb(13,29,28);
}
#btn-login {
    background-color: rgb(87,207,191);
    border-color: rgb(87,207,191);
}

#btn-login:hover {
    background-color: rgba(87,207,191,0.8);
    border-color: rgb(87,207,191);
}

#black-flash {
    background-color: BLACK;
}
