<div ng-controller="hotelesCtrl as hotelesCtrl">
    <div class="header">
        <ul class="list-group">
            <li ng-repeat="record in records">
                <div class="panel panel-default" id="myPanel">
                    <div class="panel-heading" id="encabezado">
                        <h4>{{record.nombre}}</h4>
                    </div>
                    <div class="panel-body" id="cuerpo">
                       <div class="panel-info">
                            <h5>{{record.descripcion}}</h5>
                        </div><br>
                        <div class="panel-foto" style="text-align:center;">
                            <img id="xxx" src="../src/assets/img/buceo.png" alt="">
                            <img id="xxx" src="../src/assets/img/arctic.png" alt="">
                            <img id="xxx" src="../src/assets/img/beach-guitar.jpeg" alt="">
                            <img id="xxx" src="../src/assets/img/beach.jpeg" alt="">
                            <img id="xxx" src="../src/assets/img/alimentacion.jpg" alt="">
                        </div><br>
                        <div class="panel-button" style="text-align:center;">
                            <button class="btn btn-default btn-lg">Reservar</button>
                            <button class="btn btn-default btn-lg">Informacion</button>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="container">
    <nav class="navbar navbar-default" role="navigation" id="nav-eventos">
		<div class="container-fluid">
	<!-- Brand and toggle get grouped for better mobile display -->
	<div class="navbar-header">
		<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#evento-navbar">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<a class="navbar-brand">Hoteles eTours</a>
	</div>
				<!-- Collect the nav links, forms, and other content for toggling -->
	<div class="collapse navbar-collapse" id="evento-navbar">
		<button class="btn btn-default navbar-btn" ng-click="hotelesCtrl.fetchRecords()"><span class="glyphicon glyphicon-refresh"></span> Refrescar Hoteles</button>
		<button class="btn btn-default navbar-btn" ng-click="hotelesCtrl.saveRecord()"><span class="glyphicon glyphicon-floppy-disk"></span> Guardar Hotel</button>
	</div>
		</div>
	</nav>
    
    <div class="form">
        <form name="hotelesForm" role="form">
            <div class="form-group">
               <br>    
                <input class="form-control" type="text" placeholder="Nombre del Hotel" id="nombre" ng-model="currentRecord.nombre">
            </div>
            <div class="form-group">
                <input class="form-control" type="text" placeholder="Descripcion del Hotel" id="descripcion" ng-model="currentRecord.descripcion">
            </div>
        </form>
    </div>
           
    </div>
</div>