
#nav-eventos {
    width: 100%;
    margin-bottom: 2px;
}

#header banda-navegacion {
    width: 100%;
}

#jumbotron-de-eventos {
    background-color: transparent;
}

body {
    background-color: BLACK;
    background-image: url("../../assets/img/VW-events.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

#panel-body-timeline {
    background-color: rgba(246,246,246,0.3);
    margin-left: 15px;
    margin-right: 15px;
}

#evento-edit-mode {
    background-color: rgba(246,246,246,0.3);
    padding: 10px;
}

.wordwrap { 
   white-space: pre-wrap;      /* CSS3 */   
   white-space: -moz-pre-wrap; /* Firefox */    
   white-space: -pre-wrap;     /* Opera <7 */   
   white-space: -o-pre-wrap;   /* Opera 7 */    
   word-wrap: break-word;      /* IE */
}