<div ng-controller="eventoCtrl as eventoCtrl">
	<div id="header">
		<nav class="navbar navbar-default" role="navigation" id="nav-eventos">
			<div class="container-fluid">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#evento-navbar">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#">Eventos eTours</a>
				</div>

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="evento-navbar">
					<button class="btn btn-default navbar-btn" ng-hide="eventoCtrl.editMode" ng-click="eventoCtrl.createRecord()"><span class="glyphicon glyphicon-plus"></span> Crear Evento</button>
					<button class="btn btn-default navbar-btn" ng-hide="eventoCtrl.editMode" ng-click="eventoCtrl.fetchRecords()"><span class="glyphicon glyphicon-refresh"></span> Refrescar Calendario</button>
					<button class="btn btn-default navbar-btn" ng-show="eventoCtrl.editMode" ng-click="eventoCtrl.saveRecord()"><span class="glyphicon glyphicon-floppy-disk"></span> Guardar</button>
					<button class="btn btn-default navbar-btn" ng-show="eventoCtrl.editMode" ng-click="eventoCtrl.fetchRecords()"><span class="glyphicon glyphicon-remove"></span> Cancelar</button>
				</div>
			</div>
		</nav>
	</div>
	<div ng-hide="eventoCtrl.editMode">
        <div id="wrapper">

        <!-- Navigation -->        
            <!-- /.row -->
            
            <!-- /.row -->
            <div class="row">
                <div class="col">
                    <!-- /.panel -->
                    <!-- /.panel -->
                    <div class="panel panel-default" id="panel-body-timeline">
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <ul class="timeline">
<!--                                NG-repeat y cada evento es un li-->
                                <li ng-repeat="record in records">
                                    <div class="timeline-badge danger"><i><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span></i>
                                    </div>
                                    <div class="timeline-panel" style="background-color:rgba(246,246,246, 0.7);">
                                        <div class="timeline-heading">
                                            <h4 class="timeline-title">{{record.fecha}}</h4>
                                            <p><small class="text-muted"><i class="fa fa-clock-o"></i> {{record.hora}}</small>
                                            </p>
                                        </div>
                                        <div class="timeline-body">
                                            <p>{{record.contenido}}</p>
                                        </div>
                                         <hr>
                                            <div class="btn-group">
                                                <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
                                                    <i class="fa fa-gear"></i>  <span class="caret"></span>
                                                </button>
                                                <ul class="dropdown-menu" role="menu">
                                                    <li><a ng-click="eventoCtrl.editRecord(record)">Editar evento</a>
                                                    </li>
                                                    <li><a ng-click="eventoCtrl.deleteRecord(record)">Eliminar evnto</a>
                                                    </li>
                                                </ul>
                                            </div>
                                    </div>
                                </li>
                                
                            </ul>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-8 -->
                
                <!-- /.col-lg-4 -->
            </div>
            <!-- /.row -->
        <!-- /#page-wrapper -->

    </div>
	</div>
	<div ng-show="eventoCtrl.editMode" id="evento-edit-mode">
		<form name="eventoForm" role="form">
			<div class="form-group">
				<label for="name">Fecha</label>
				<input id="name" class="form-control datepicker" type="date" ng-model="currentRecord.fecha"/>
			</div>
			<div class="form-group">
				<label for="hora">Hora</label>
				<input id="hora" class="form-control" type="number" ng-model="currentRecord.hora"/>
			</div>
            <div class="form-group">
				<label for="contenido">Descripcion actividad: </label>
				<input id="contenido" class="form-control" type="text" ng-model="currentRecord.contenido"/>
			</div>
		</form>
	</div>
</div>