<div ng-controller="retiroCtrl as retiroCtrl">
    <div class="header">
            <div class="container">
                <div class="form">
                    <form name="retiroForm" role="form">
                        <div class="form-group">
                           <br>    
                            <input class="form-control" type="text" placeholder="Nombre de Usuario" id="nombre" ng-model="currentRecord.nombre">
                        </div>
                        <div class="form-group">
                            <input class="form-control" type="password" placeholder="Contraseña" id="descripcion" ng-model="currentRecord.descripcion">
                        </div>
                        <button class="btn btn-danger btn-large">Solicitar la Baja</button>
                    </form>
                </div>
            </div>
    </div>
</div>